<!-- <h2>@Input</h2>
<app-hello-component [name]="title"></app-hello-component>
<app-hello-component name ="{{title}}"></app-hello-component> -->


<hr>
<h2>@Output</h2>
<p>Current Value of the Counter is <span [class] = "'negative'">{{ counter }}</span></p>
<app-counter-actions-component></app-counter-actions-component>

<!-- <hr>
<hr>
<h2>String Interploation Binding</h2>
<hr>
<app-string-interpolation></app-string-interpolation>

<hr>
<hr>


<h2>Property Binding</h2>
<hr>
<app-property-binding></app-property-binding>

<hr>
<hr>
<h2> Event Binding</h2>
<hr>
<app-event-binding></app-event-binding>

< -->