

<div style="text-align: center;">
  <h1>Welcome to {{title}}</h1>
  <hr height="5px">
  <router-outlet></router-outlet>
</div>

<div class="navbar-light bg-light" style="height: 2cm;">
  <nav class="navbar-brand" >
    <a class="navbar-brand" routerLink="home" routerLinkActive="active">Home</a>
  </nav>
  <nav class="navbar-brand" >
    <a class="navbar-brand" routerLink="about" routerLinkActive="active">About</a>
  </nav>
  <nav class="navbar-brand" >
    <a class="navbar-brand" routerLink="contact" routerLinkActive="active">Contact</a>
  </nav>
</div>

<!-- <ul>
<li>
  <a class="navbar-brand" routerLink="home" routerLinkActive="active">Home</a>
</li>
<li><a class="navbar-brand" routerLink="about">About</a></li>
<li><a class="navbar-brand" routerLink="contact">Contact</a></li>
</ul> -->